#page {
	width: 960px;
	border: 4px double #000;
	padding: 20px;
	margin: 10px auto 10px auto;
	overflow: auto;
	}
#logo{
	width: 303px;
	margin: 10px auto 25px auto;
	}
body {
	font-size: 80%;
	font-family: Arial, Verdana, sans-serif;
	letter-spacing: 0.15em;	
	margin: 0px 3px 0px 3px;
	background-color: #efefef;
	display: inline;	
	}		
#navigation {
	width: 625px;
	list-style-type: none;
	text-align: center;
	margin: 0px auto 0px auto;
	padding: 15px;
	border-top: 2px solid #000;
	border-bottom: 1px solid #000	
	}
#content {	
	margin: 20px auto 20px auto;
	width: 600px;
	}
#gallery_content{
	width:500px;
	margin: 20px;
	float: center;
	}
#entry{
	font-size: 70%;
	width: 220px;
	height: 220px:
	
	}
h1{
	font-size: 150%;
	}
h2{
	font-size: 133%;
	}
h3{
	font-size: 125%;
	}	
a {
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
	}
#column1of2, #column2of2{
	float: left;
	width: 280px;
	margin: 10px;
	}
.clear{
	clear: left;
	}
img.align-left {
	float: left;
	margin: 20px;
	}

a:hover, a#current-page {
	color: #cc3333;
	background-color: #ffffff;
	}