@font-face {
	font-family: "Mine";
	src: url('http://fonts.googleapis.com/css?family=Oxygen');}
body{
	box-shadow: 0 0 15px #777666;
	max-width: 95%;
	margin: .019em auto .019em auto;
	border: 5px dotted #BB971D;
	border-radius: 15px;/*5px is not enough*/
	padding: .006em;
	background-color: rgb(208,178,170); 
	font-family: Mine, Arial, sans-serif;
	 /*this color came form http://www.colourlovers.com/palette/3152658/Small_Fish_25*/
	}
#style{
	background-image: url("images/sand-blossom");
	}
h1{
	margin: .013em auto .013em auto;
	line-height: 72pt;
	font-size: 36pt;
	color: white;
	text-transform: uppercase;
	
	}
h2{
	letter-spacing: 0.2em;
	text-transform: capitalize;
	background-color: rgb(208,178,170); 
	width: .313em;
	text-align: center;
	}
h3{
	letter-spacing: 0.2em;
	text-transform: capitalize;
	background-color: hsl(3.0%,50%);
	font-size: 150%;
	width: .438em;
	text-align: center;
	}
h4{
	font-size: 150%;
	letter-spacing:0.2em;
	text-transform: capitalize;
	text-align: center;
	}
#name{
	border: 2px solid #000;
	box-shadow: 0 0 7px #777777;
	}
#from{
	text-align: right;
	}
#link{
	text-align: right;
	}
p{
	font:normal normal bold large normal default;
	padding: 0.013em; 
	}
ul{
	font: italic normal bolder large normal default;
	text-transform: capitalize;
	color:#75838C;
	list-style-type: upper-alpha;
	border-bottom: 2px solid #000;
	padding-bottom: .006em;
	
	}
ol{
	font: italic normal bolder large normal default;
	color:#75838C;
	list-style-type: upper-roman;
	}
a:link { 
	color: white; 
	text-decoration: underline;}
a:visited { 
	color: black;
	}
a:hover { 
	color: deeppink; 
	text-decoration: blink;
	}
a:active { 
	color: black;
	}
#column1of2, #column2of2, #column3of3{
	float: left;
	width: 31%;
	margin: 1%;
	}
.clear{
	clear: left;
	}
