body{
	background: #666666;
	}
h1, h2, h2{
	font-weight:normal;
	} 
h1{
	font-family: Georgia, Times, Serif;
	font-size: 250%;
	text-shadow: 2px 2px #666666;
	color: orange;
	}
h2{
	font-family: Gill Sans, Arial, sans-serif;
	font-size: 90%;
	text-transform: uppercase;
	color: deeporange;
	}
h3{
	font-size: 150%;
	color: yellow;
	}
p{
	font-family: Arial, Verdana, sans-serif;
	line-height: 1.4em;
	}
#intro{
	font-weight: bold;
	}
#credits{
	font-style: italic;
	text-align: right;
	}
a:link {
	text-decoration: none;
	}
a:hover {	
	text-decoration: underline:
	}