body {
	font-family: Arial, Verdana, sans-serif;
	}
div id"container"{
	border: 1px solid #665544;
	background-color: #efefef;
	padding: 10px;
	}
h1 {
	color: #ee3e80;
	}
p {
	color: #665544
	}
strong{
	color: green;
Em {
	color: violet;
	}